* {
    margin: 0;
    padding: 0;
}

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/Website/imgs/img2-header.png);
}

.login-box {
    width: 70%;
    height: 70%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px white solid;
    border-radius: 20px;
}

.login-box form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.login-box img {
    height: 50px;
}

.login-box h4 {
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.login-box input {
    padding: 10px;
    font-size: 20px;
    width: 50%;
    border: 2px white solid;
    border-radius: 10px;
    background-color: black;
    color: gray;
}

.login-box button {
    padding: 10px;
    font-size: 20px;
    width: 20%;
    background-color: red;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.login-box p {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.login-box a {
    text-decoration: none;
}