* {
    padding: 0;
    margin: 0;
}

body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: lavender;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: #3a4453;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    background: transparent;
    box-shadow: -8px -8px 15px rgb(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 40px;
    box-shadow: none;
}

 form input.equal {
    width: 145px;
}